.git
.gitignore
.air.toml
README.md
Makefile
tmp/
*.db
*.db-shm
*.db-wal
forum-diapason
forum-front
forum-api
tailwindcss
node_modules/
.env
.vscode/
.idea/
*.log
docker-compose.yml
Dockerfile*
.dockerignore
