{{define "create-post"}}
<aside class="sticky top-4 border border-gray-200 p-3 flex flex-col gap-2 bg-white text-xs self-start">

    <p class="font-bold text-xs">CREER UN POST</p>

    <input id="post-titre" type="text" placeholder="TITRE"
        class="border border-gray-200 px-2 py-1 outline-none w-full placeholder:text-gray-400 text-xs">
    <textarea id="post-contenu" placeholder="DESCRIPTION" rows="3"
        class="border border-gray-200 px-2 py-1 outline-none w-full resize-none placeholder:text-gray-400 text-xs"></textarea>
    <input id="tag-input" type="text" placeholder="TAG (Entrée pour ajouter)"
        class="border border-gray-200 px-2 py-1 outline-none w-full placeholder:text-gray-400 text-xs">

    <div id="tag-list" class="flex flex-wrap gap-1"></div>

    <div class="flex gap-2 mt-1">
        <button onclick="document.getElementById('post-titre').value='';document.getElementById('post-contenu').value='';"
            class="flex-1 border border-gray-300 py-1 hover:bg-gray-50">CANCEL</button>
        <button id="create-post-btn" class="flex-1 bg-black text-white py-1 hover:bg-gray-800">POST</button>
    </div>

</aside>
{{end}}